@import "admin/variables.import.less";

#iron-router-progress {
    background-color : @brand-primary;
    box-shadow       : 0 0 5px @brand-primary;
}
#iron-router-progress.spinner:before {
    border-color : @brand-primary;
}
